<div id="particles-js">
  <div class="content">
    <h1>
      <span class="site-title">Eric J. Smith</span>
      <span class="site-description">Passionate, detail oriented fullstack developer and entrepreneur</span>
    </h1>
    <div class="icons-header">
      <a aria-label="Send email" href="mailto:eric@ericjsmith.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="Visit me on Twitter" target="_blank" href="https://twitter.com/ejsmith"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <a aria-label="Visit me on LinkedIn" target="_blank" href="https://www.linkedin.com/in/ericjsmith/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="Visit me on GitHub" target="_blank" href="https://github.com/ejsmith"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
    <a class="link" href="#about" data-scroll>About Me</a>
    <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>