<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Exceptionless" src="{{ " /assets/img/exceptionless-screen.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Exceptionless </h5>
      <li> C# / WebAPI / AngularJS / Elasticsearch / Redis / MongoDB</li>
      <li> Lead developer</li>
      <p>Provides real-time error reporting for your JavaScript, Node.js, .NET Core, ASP.NET, Web API, WebForms, WPF, Console,
        and MVC apps. It organizes the gathered information into simple actionable data that will help your app become exceptionless!</p>
      <a class="project-link" href="https://github.com/exceptionless/Exceptionless">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="CodeSmith Generator" src="{{ " /assets/img/generator.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CodeSmith Generator </h5>
      <ul>
        <li> C# / WPF / SQL</li>
        <li> Lead developer</li>
      </ul>
      <p><em>Your code. Your way. Faster.</em> CodeSmith Generator is a software development tool to help you get your job done
        faster. Technically speaking it is a template driven Source Code Generator that automates the creation of common
        application source code for any language.</p>
      <a class="project-link" href="http://www.codesmithtools.com/product/generator">Check it out</a>
    </div>
  </div>
</div>